::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgba(0, 0, 0, 0.450);
}

body {
    background-color: rgb(152, 181, 236);
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 130%;
}

#navbarToggleExternalContent {
    background-color: #1d2a35;
    border-radius: 15px;
    margin: 10px 8px 0px 8px;
}

#heading {
    font-size: 175%;
    margin-top: 15px;
}

.box {
    border: 1px solid black;
    background-color: rgb(138, 148, 158);
    margin: 10px;
}

.title {
    margin-top: 10px;
    font-size: 135%;
    text-align: center;
    color: white;
}

.content {
    text-align: justify;
    padding: 5px 15px;
}